# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Unreal generated/build output
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/
*.sln
*.xcodeproj/
*.xcworkspace/

# Local IDE/user files
*.user
*.suo
*.opensdf
*.sdf

